html, body {
  	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
  scroll-behavior: smooth;
	
}
body {
  min-height: 100%;
  min-width: 100%;
}
.navbar{
	display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0px;
  width: 100%;
  min-height: 50px;
  font-size: 20px;
  font-family: Kiona;
}


.navbar a, a:link, a:visited{
	text-shadow: 1px 1px balck;
  text-decoration: none;
  color: white;
  padding: 10px 10px 10px 10px;
}

.navbar a:hover, a:active{
  text-decoration: none;
  color: #6a66b8;
  padding: 10px 10px 10px 10px;
}
.container{
	display: flex;
	flex-direction: row;
  min-height: 100%;
  min-width: 100%;
  justify-content: center;
}

#section1{
	align-items: center;
  background-image: url(snow_cave01.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 90% 90%;
}

.text1{
	max-height: 70%;
	min-width: 70%;
}

.h1{
	  text-shadow: 2px 2px black;
	text-align: center;
	font-family: Coolvetica;
	font-size: 70px;
	color:white;
}
.p1{
	font-family: GeoSansLight;
	font-size: 25px;
	color: white;
	text-align: center;	
}

#section2{
	align-items: center;
background: rgb(25,23,98);
background: linear-gradient(135deg, rgba(25,23,98,1) 5%, rgba(32,32,138,1) 28%, rgba(73,69,220,1) 53%, rgba(149,145,232,1) 65%, rgba(213,212,243,1) 77%, rgba(106,102,184,1) 88%);
}

.text2{
	height: 70%;
	width: 70%;
}

h2{
	
	  text-shadow: 1.5px 1.5px black;
	text-align: center;
	font-family: GeoSansLight;
	font-size: 50px;
	color:#d5d4f3;
   border-bottom: 1px solid #d5d4f3; 
   box-shadow: 0.5px 0.5px black;
   line-height: 0.1em;
}   
h2 span { 
    padding:0 10px; 
	background-color:#2b2aab;

}
.p2{
	font-family: GeoSansLight;
	font-size: 30px;
	color: white;
	text-align: center;	
} 

.img-container{
	background-image: url(profile.jpg);
	width:25%;
	 background-repeat: no-repeat;
  background-size: 100%;
  background-position: 90% 90%;
}


#section3{	
  background: rgb(37,36,48);
background: linear-gradient(45deg, rgba(37,36,48,1) 5%, rgba(51,37,62,1) 28%, rgba(78,97,77,1) 53%, rgba(149,145,232,1) 65%, rgba(213,212,243,1) 77%, rgba(106,102,184,1) 88%);
}

.text3{
	max-height: 70%;
	min-width: 70%;
}

h3{
	text-shadow: 1.5px 1.5px black;
	text-align: center;
	font-family: GeoSansLight;
	font-size: 50px;
	color: #2b2aab;
   border-bottom: 1px solid #2b2aab; 
    
   box-shadow: 0.5px 0.5px black;
   line-height: 0.1em;
}
h3 span{
    padding:0 10px; 
	background-color:#d5d4f3;
}
.p3{
	font-family: Lonely;
	font-size: 30px;
	color: white;
	text-align: center;	
}

#section4{  
	align-items: flex-start;
background: rgb(37,36,48);
background: linear-gradient(135deg, rgba(37,36,48,1) 5%, rgba(51,37,62,1) 28%, rgba(78,97,77,1) 53%, rgba(164,197,133,1) 65%, rgba(68,76,72,1) 77%, rgba(31,16,43,1) 88%);
}

.text4{
	height: 70%;
	width: 70%;
}

h4{
	text-align: center;
	font-family: GeoSansLight;
	font-size: 50px;
	color:#d5d4f3;
   border-bottom: 1px solid #d5d4f3; 
   line-height: 0.1em;
} 
  
h4 span { 
    padding:0 10px; 
	background-color:#2b2aab;

}
.p4{
	font-family: GeoSansLight;
	font-size: 20px;
	color: white;
	text-align: center;	
} 



#section5{
  background-image: url(northern_lights05.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 90% 90%;
}


.text5{
	max-height: 70%;
	min-width: 70%;
}

h5{
	text-align: center;
	font-family: GeoSansLight;
	font-size: 50px;
	color:#d5d4f3;
   border-bottom: 1px solid #d5d4f3; 
   line-height: 0.1em;	
}

h5 span{
    padding:0 10px; 
	background-color:#2b2aab;
}

.p5{
	font-family: Lonely;
	font-size: 30px;
	color: white;
	text-align: center;	
}
.some{
	font-family: Some;
	font-size: 35px;
	color: white;
	text-align: center;	
}


@font-face {
  font-family: 'Lonely';
  src: url('Lonely-Regular.eot') format('eot'),
  url('Lonely-Regular.woff2') format('woff2'),
  url('Lonely-Regular.woff') format('woff'), 
  url('Lonely-Regular.ttf') format('truetype');	
}
@font-face {
  font-family: 'GeoSansLight';
  src: url('GeoSansLight.eot') format('eot'),
  url('GeoSansLight.woff2') format('woff2'),
  url('GeoSansLight.woff') format('woff'), 
  url('GeoSansLight.ttf') format('truetype');	
}

@font-face {
  font-family: 'Kiona';
  src: url('Kiona-Regular.eot') format('eot'),
  url('Kiona-Regular.woff2') format('woff2'),
  url('Kiona-Regular.woff') format('woff'), 
  url('Kiona-Regular.ttf') format('truetype');	
}

@font-face {
  font-family: 'Coolvetica';
  src: url('CoolveticaRg-Regular.eot') format('eot'),
  url('CoolveticaRg-Regular.woff2') format('woff2'),
  url('CoolveticaRg-Regular.woff') format('woff'), 
  url('CoolveticaRg-Regular.ttf') format('truetype');	
}

@font-face {
  font-family: 'Some';
 src: url('IconsSocialMedia6.eot') format('eot'),
  url('IconsSocialMedia6.woff2') format('woff2'),
  url('IconsSocialMedia6.woff') format('woff'), 
  url('IconsSocialMedia6.ttf') format('truetype');	
}

.row{
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
/* The grid: Four equal columns that floats next to each other */
.column {
   flex: 25%;
   max-width:20%;
   padding: 0 4px;
   margin-bottom: 50px;
}

/* Style the images inside the grid */
.column img {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 8px;
  /*opacity: 0.8; */
  cursor: pointer; 
  width: 100%;
  vertical-align: middle;
    transition:transform 0.25s ease;
}


.column img:hover {
  opacity: 1;
    -webkit-transform:scale(2.5);
    transform:scale(2.5);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
*/
